<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SprintProject"
        tools:targetApi="31">


        <activity
            android:name=".pages.view.MainActivity"
            android:banner="@drawable/app_icon_your_company"
            android:exported="true"
            android:icon="@drawable/app_icon_your_company"
            android:label="@string/title_activity_home_screen"
            android:logo="@drawable/app_icon_your_company"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SprintProject"
            tools:ignore="DiscouragedApi">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fragments.view.CarFragment"
            android:exported="false" />
        <activity
            android:name=".fragments.view.CommunityFragment"
            android:exported="false" />
        <activity
            android:name=".fragments.view.HomeFragment"
            android:exported="false" />
        <activity
            android:name=".fragments.view.HotelFragment"
            android:exported="false"
            android:theme="@style/Theme.SprintProject" />
        <activity
            android:name=".fragments.view.NotebookFragment"
            android:exported="false"
            android:theme="@style/Theme.SprintProject" />
        <activity
            android:name=".fragments.view.RestaurantFragment"
            android:exported="false"
            android:theme="@style/Theme.SprintProject" />
        <activity
            android:name=".pages.view.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".pages.view.LogInActivity"
            android:exported="false" />
        <activity
            android:name=".pages.view.SignUpActivity"
            android:exported="false" />
    </application>

</manifest>